@import url("https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Cookie|Slabo+27px");
html {
  font-family: Roboto, sans-serif; }

body {
  margin: 0; }

p {
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
  color: #3e3e3e;
  font-weight: 200; }

h1 {
  font-family: 'Cookie', cursive;
  text-align: center;
  font-size: 72px;
  font-weight: 100;
  color: white;
  letter-spacing: 0.05em; }

h2 {
  font-size: 60px;
  font-weight: 100;
  color: #669291;
  font-family: 'Catamaran', sans-serif;
  margin: 0px;
  padding-bottom: 40px; }

h3 {
  font-size: 30px;
  font-weight: 100;
  color: #86bdbc;
  font-family: 'Catamaran', sans-serif;
  margin: 0px; }

ul {
  list-style-type: none; }

.divider {
  border-top: 1px solid #ccc;
  width: 100%; }

.btn {
  width: 110px;
  text-transform: uppercase;
  background-color: #86bdbc;
  padding: 12px 15px;
  text-align: center;
  margin: 0 auto;
  transition: 300ms; }
  .btn:hover a {
    color: #669291; }
  .btn a {
    text-decoration: none;
    color: #fff; }

section {
  padding: 80px 0px; }

.wrapper {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px; }
  @media (max-width: 1200px) {
    .wrapper {
      max-width: 992px; } }
  @media (max-width: 992px) {
    .wrapper {
      max-width: 768px; } }
  @media (max-width: 768px) {
    .wrapper {
      max-width: 540px; } }
  @media (max-width: 540px) {
    .wrapper {
      max-width: 400px; } }

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center; }
  @media (max-width: 541px) {
    .flex-row {
      flex-flow: column; } }

nav {
  position: absolute;
  width: 100%;
  top: 0px; }
  nav .nav {
    padding-top: 25px;
    display: flex;
    padding-left: 0px; }
    nav .nav li:first-child {
      margin-right: auto; }
    nav .nav a {
      display: inline-block;
      margin-left: 20px;
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: #86bdbc;
      font-family: 'Catamaran', sans-serif;
      font-weight: 300;
      letter-spacing: 1.1px;
      transition: 300ms; }
      nav .nav a:hover {
        color: #669291;
        font-weight: 300; }
      nav .nav a:active {
        color: #669291; }
    nav .nav .logo {
      color: #fff; }

header {
  width: 100%;
  height: 60vh;
  background: linear-gradient(to bottom, rgba(254, 214, 227, 0.9), rgba(168, 237, 234, 0.9)), url(/assets/img/forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  header h1 {
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 90px;
    font-weight: 100;
    color: white;
    margin-top: 0px;
    letter-spacing: 0.05em;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      header h1 {
        font-size: 70px;
        margin-bottom: 5px; } }
    @media (max-width: 540px) {
      header h1 {
        font-size: 62px; } }
  header h3.kicker {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-weight: 500;
    letter-spacing: 0.5em;
    color: white;
    line-height: 1;
    letter-spacing: 4px; }
    @media (max-width: 768px) {
      header h3.kicker {
        font-size: 22px; } }
    @media (max-width: 540px) {
      header h3.kicker {
        font-size: 20px; } }

#home .skills h2 {
  text-align: center;
  padding-bottom: 60px; }

#home .skills h3 {
  font-weight: 300; }

#home .skills p {
  text-align: center; }

@media (max-width: 992px) {
  #home .skills .skill {
    padding-bottom: 25px; } }

#home .skills .skill img {
  max-width: 200px; }

#home .work .intro {
  text-align: center;
  max-width: 500px;
  margin: 0 auto; }

#home .work h2 {
  text-align: center; }

#home .work p {
  text-align: center; }

header.work {
  background: linear-gradient(to bottom, rgba(254, 214, 227, 0.9), rgba(168, 237, 234, 0.9)), url(/assets/img/mountain.jpg);
  height: 40vh;
  background-position: bottom; }
  header.work h1 {
    padding-top: 65px;
    font-size: 100px; }

#work {
  padding-top: 100px; }
  #work .intro {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 100px; }
  #work #mosaic {
    background-color: #d95a24;
    text-align: center; }
    #work #mosaic .site-img {
      max-width: 800px;
      margin: 0 auto; }
      #work #mosaic .site-img img {
        width: 100%;
        height: auto; }
    #work #mosaic h3 {
      color: #fff; }
    #work #mosaic p {
      color: #fff; }
    #work #mosaic .btn {
      color: #d95a24;
      background-color: #262931; }
  #work #carpenters {
    background-color: #202536;
    text-align: center; }
    #work #carpenters .site-img {
      max-width: 800px;
      margin: 0 auto; }
      #work #carpenters .site-img img {
        width: 100%;
        height: auto; }
    #work #carpenters h3 {
      color: #fff; }
    #work #carpenters p {
      color: #fff; }
    #work #carpenters .btn {
      color: #202536;
      background-color: #a28058; }
  #work #nccmp {
    background-color: #003875;
    text-align: center; }
    #work #nccmp .site-img {
      max-width: 800px;
      margin: 0 auto; }
      #work #nccmp .site-img img {
        width: 100%;
        height: auto; }
    #work #nccmp h3 {
      color: #fff; }
    #work #nccmp p {
      color: #fff; }
    #work #nccmp .btn {
      color: #ccc;
      background-color: #e61e30; }
  #work #nabtu {
    background-color: #a9362d;
    text-align: center; }
    #work #nabtu .site-img {
      max-width: 800px;
      margin: 0 auto; }
      #work #nabtu .site-img img {
        width: 100%;
        height: auto; }
    #work #nabtu h3 {
      color: #fff; }
    #work #nabtu p {
      color: #fff; }
    #work #nabtu .btn {
      color: #fff;
      background-color: #3e3e3e; }

footer {
  background-color: #9cdada;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  left: 0px;
  bottom: fixed;
  width: 100%; }
  footer .copyright p {
    font-size: 15px;
    color: #86bdbc; }
    footer .copyright p a {
      color: #86bdbc;
      transition: 300ms; }
      footer .copyright p a:hover {
        color: #669291; }
