html {
  font-family: Roboto, sans-serif;
}

header {
  height: 450px;
  background: url(https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?q=80&fm=jpg&s=79978a74e55792a7a5182ba0c0aa4e25) center center;
  background-size: cover;
}
header .logo {
  background: url(https://lh3.googleusercontent.com/AX05gSSYCHhOea4k1vLOGOX5nXb15H5QJWH1XzuzPiUKSU5kFbNp_95hUu6Um0etFPfle2YWaqUpWpxCS9XP3KKNkGQWGZfO59dbrlO5cMIZH1LNFu2PCzb7b0sCKYzZPG4DwaMuzjoRUQ8Ov996m0gGtyWkO-1Tf8AAzqt0LGV3ox_luwxGnB7u1LxKBw0u5b4c66nS6VeB_ckrZf44aifHa3Z_yaalX-EN_olwhGkMG5gwMcb6-04Hr3Qn3-O6oHQm3B_MRBtEgQo6wXkmz_klg5dB41MJmM2ufGRKqUbU8NsFU7TxHUvT0JMrtdRHnjz-GBn4pkCWJQqcQ18btFs8DcDEgnTk-mtqYlYka6mVeI0nzykA1-fcXi4cGC7ctQ0tVCzdek9N7PoWaAEOwY4Cz2v012iW3W8HlpMWhueV5JEN_k3-6trI5q5V4cj_A7fysWf7MFnKgrsIlPgPouIFd14wpMKacvqPiNifShZ0kVPCV1qwLJBw8DZz42ca_x0ZIdKpkM9ET1Ecy3lHhHA_6NCi1Zu18SYQ0vw1tqE=s200-no);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  float: left;
  margin: 10px 0 0 30px;
}
header .logo path {
  fill: rgba(0, 0, 0, 0.4);
}
header nav {
  float: right;
  margin: 30px 30px 0 0;
}
header nav a {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
header nav a:hover {
  color: black;
}
header h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  clear: both;
  padding-top: 100px;
}
header h1 span {
  display: inline-block;
  padding: 0.2em 0.5em;
  border: white solid 10px;
}
header .kicker {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5em;
  color: white;
  line-height: 1;
}

body {
  margin: 0;
}
body p {
  text-align: center;
}

footer {
  position: absolute;
  left: 0px;
  bottom: fixed;
  width: 100%;
  background: url(https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?q=80&fm=jpg&s=79978a74e55792a7a5182ba0c0aa4e25) center center;
  background-size: cover;
}
footer .lockup {
  padding: 30px;
  clear: both;
}
footer .lockup .logo {
  background: url(https://lh3.googleusercontent.com/AX05gSSYCHhOea4k1vLOGOX5nXb15H5QJWH1XzuzPiUKSU5kFbNp_95hUu6Um0etFPfle2YWaqUpWpxCS9XP3KKNkGQWGZfO59dbrlO5cMIZH1LNFu2PCzb7b0sCKYzZPG4DwaMuzjoRUQ8Ov996m0gGtyWkO-1Tf8AAzqt0LGV3ox_luwxGnB7u1LxKBw0u5b4c66nS6VeB_ckrZf44aifHa3Z_yaalX-EN_olwhGkMG5gwMcb6-04Hr3Qn3-O6oHQm3B_MRBtEgQo6wXkmz_klg5dB41MJmM2ufGRKqUbU8NsFU7TxHUvT0JMrtdRHnjz-GBn4pkCWJQqcQ18btFs8DcDEgnTk-mtqYlYka6mVeI0nzykA1-fcXi4cGC7ctQ0tVCzdek9N7PoWaAEOwY4Cz2v012iW3W8HlpMWhueV5JEN_k3-6trI5q5V4cj_A7fysWf7MFnKgrsIlPgPouIFd14wpMKacvqPiNifShZ0kVPCV1qwLJBw8DZz42ca_x0ZIdKpkM9ET1Ecy3lHhHA_6NCi1Zu18SYQ0vw1tqE=s200-no);
  background-size: 100%;
  background-reapeat: no-repeat;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}
footer .lockup .logo path {
  fill: rgba(0, 0, 0, 0.5);
}
footer .lockup .content-wrap {
  float: left;
}
footer .lockup .copyright {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  text-align: left;
}
footer .lockup a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-right: 30px;
}
footer .lockup a:hover {
  color: black;
}

h3 {
  text-align: center;
  padding: 100px 0 30px;
}

.face-lockup {
  max-width: 780px;
  margin: 0 auto;
}
.face-lockup .face-img {
  height: 200px;
  width: 100px;
  background: url();
}
