//Fonts
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Cookie|Slabo+27px');

//Colors
$black: #3e3e3e;
$dark-blue: #86bdbc;
$darker-blue: #669291;
$blue: #9cdada;

html {
  font-family: Roboto, sans-serif;
}
body {
  margin: 0;
}
p {
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
  color: $black;
  font-weight: 200;
}
h1 {
  font-family: 'Cookie', cursive;
  text-align: center;
  font-size: 72px;
  font-weight: 100;
  color: white;
  letter-spacing: 0.05em;
}
h2 {
  font-size: 60px;
  font-weight: 100;
  color: $darker-blue;
  font-family: 'Catamaran', sans-serif;
  margin: 0px;
  padding-bottom: 40px;
}
h3 {
  font-size: 30px;
  font-weight: 100;
  color: $dark-blue;
  font-family: 'Catamaran', sans-serif;
  margin: 0px;
}
ul {
  list-style-type: none;
}
.divider {
  border-top: 1px solid #ccc;
  width: 100%;
}
.btn {  
  width: 110px;
  text-transform: uppercase;
  background-color: #86bdbc;
  padding: 12px 15px;
  text-align: center;
  margin: 0 auto;
  transition: 300ms;
  &:hover {
    a {

      color: $darker-blue;
    }
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
section {
  padding: 80px 0px;
}
.wrapper {
	margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
  @media (max-width: 1200px) {
    max-width: 992px;
  }
  @media (max-width: 992px) {
    max-width: 768px;
  }
  @media (max-width: 768px) {
    max-width: 540px;
  }
  @media (max-width: 540px) {
    max-width: 400px;
  }
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
  @media (max-width: 541px ) {
    flex-flow: column;
  }
}
nav {
  position: absolute;
  width: 100%;
  top: 0px;
  .nav {
    padding-top: 25px;
    display: flex;
    padding-left: 0px;
    li:first-child {
      margin-right: auto;
    }
    a {
      display: inline-block;
      margin-left: 20px;
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: $dark-blue;
      font-family: 'Catamaran', sans-serif;
      font-weight: 300;
      letter-spacing: 1.1px;
      transition: 300ms;
      &:hover {
        color: $darker-blue;
        font-weight: 300;
      }
      &:active {
        color: $darker-blue;
      }
    }
    .logo {
      color: #fff;
    }
  }
}
header {
  width: 100%;
  height: 60vh;
  background: linear-gradient(to bottom, rgba(254,214,227,0.9), rgba(168,237,234,0.9)), url(/assets/img/forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 90px;
    font-weight: 100;
    color: white;
    margin-top: 0px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      font-size: 70px;
      margin-bottom: 5px;
    }
    @media (max-width: 540px) {
      font-size: 62px;
    }
  }
  h3.kicker {
    text-align: center;    
    font-family: 'Slabo 27px', serif;
    font-weight: 500;
    letter-spacing: 0.5em;
    color: white;
    line-height: 1;
    letter-spacing: 4px;
    @media (max-width: 768px) {
      font-size: 22px;
    }
    @media (max-width: 540px) {
      font-size: 20px;
    }
  }
}
#home {
  .skills {
    h2 {
      text-align: center;
      padding-bottom: 60px;
    }
    h3 {
      font-weight: 300;
    }
    p {
      text-align: center;
    }
    .skill {
      @media (max-width: 992px) {
        padding-bottom: 25px;
      }
      img {
        max-width: 200px;
      }      
    }
  }
  .work {
    .intro {
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
    }
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
//work page
header.work {
  background: linear-gradient(to bottom, rgba(254,214,227,0.9), rgba(168,237,234,0.9)), url(/assets/img/mountain.jpg);
  height: 40vh;
  background-position: bottom;
  h1 {
    padding-top: 65px;
    font-size: 100px;
  }
}
#work {
  padding-top: 100px;
  .intro {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  #mosaic {
    background-color: #d95a24;
    text-align: center;
    .site-img {
      max-width: 800px;
      margin: 0 auto;
      padding-bottom: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
    h3 {
      color: #fff;
    }
    p {
      color: #fff;
    }
    a {
      text-decoration: none;
      .btn {
        margin-top: 40px;
        color: #d95a24;
        background-color: #262931;
      }
    }    
  }
  #carpenters {
    background-color: #202536;
    text-align: center;
    .site-img {
      max-width: 800px;
      margin: 0 auto;
      padding-bottom: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
    h3 {
      color: #fff;
    }
    p {
      color: #fff;
    }
    a {
      text-decoration: none;
      .btn {
        margin-top: 40px;
        color: #202536;
        background-color: #a28058;
      }
    }
  }
  #nccmp {
    background-color: #003875;
    text-align: center;
    .site-img {
      max-width: 800px;
      margin: 0 auto;
      padding-bottom: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
    h3 {
      color: #fff;
    }
    p {
      color: #fff;
    }
    a {
      text-decoration: none;
      .btn {
        margin-top: 40px;
        color: #ccc;
        background-color: #e61e30;
      }
    }    
  }
  #nabtu {
    background-color: #a9362d;
    text-align: center;
    .site-img {
      max-width: 800px;
      margin: 0 auto;
      padding-bottom: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
    h3 {
      color: #fff;
    }
    p {
      color: #fff;
    }
    a {
      text-decoration: none;
      .btn {
        margin-top: 40px;
        color: #fff;
        background-color: $black;
      }
    }    
  }
}
footer {
  background-color: $blue;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  left: 0px;
  bottom: fixed;
  width: 100%;
  .copyright {
    p {
      font-size: 15px;
      color: $dark-blue;
      a {
        color: $dark-blue;
        transition: 300ms;
        &:hover {
          color: $darker-blue;
        }
      }
    }
  }
}